<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nunu's Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/jqvmap/jqvmap.min.css">
  <link rel="stylesheet" href="/assets/css/adminlte.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="/assets/css/plugins/summernote/summernote-bs4.css">
  <link rel="stylesheet" href="/assets/css/contribute.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <script src="/assets/js/jquery.min.js"></script>

<style type="text/css">
 ul {
       list-style-type: none;
        }
</style>


</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link align:center">
      <span class="brand-text font-weight-light"><center>Nunu's Daily Admin</center></span>
    </a>

    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar">
          <li class="nav-header">Management</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Photography
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Articles Management
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>
                Tags Management
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Bio settings
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Friend links
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

<!--     [> Main content <] -->
    <!-- <section class="content"> -->
    <!--   <div class="container-fluid"> -->
    <!--     [> Small boxes (Stat box) <] -->
    <!--     <div class="row"> -->
    <!--       <div class="col-lg-3 col-6"> -->
    <!--         [> small box <] -->
    <!--         <div class="small-box bg-info"> -->
    <!--           <div class="inner"> -->
    <!--             <h3>150</h3> -->
    <!--  -->
    <!--             <p>CPU Usage</p> -->
    <!--           </div> -->
    <!--           <div class="icon"> -->
    <!--             <i class="ion ion-bag"></i> -->
    <!--           </div> -->
    <!--         </div> -->
    <!--       </div> -->
    <!--       [> ./col <] -->
    <!--       <div class="col-lg-3 col-6"> -->
    <!--         [> small box <] -->
    <!--         <div class="small-box bg-success"> -->
    <!--           <div class="inner"> -->
    <!--             <h3>53<sup style="font-size: 20px">%</sup></h3> -->
    <!--  -->
    <!--             <p>Memory Usage</p> -->
    <!--           </div> -->
    <!--           <div class="icon"> -->
    <!--             <i class="ion ion-stats-bars"></i> -->
    <!--           </div> -->
    <!--         </div> -->
    <!--       </div> -->
    <!--       [> ./col <] -->
    <!--       <div class="col-lg-3 col-6"> -->
    <!--         [> small box <] -->
    <!--         <div class="small-box bg-warning"> -->
    <!--           <div class="inner"> -->
    <!--             <h3>44</h3> -->
    <!--  -->
    <!--             <p>Page View</p> -->
    <!--           </div> -->
    <!--           <div class="icon"> -->
    <!--             <i class="ion ion-person-add"></i> -->
    <!--           </div> -->
    <!--         </div> -->
    <!--       </div> -->
    <!--       [> ./col <] -->
    <!--       <div class="col-lg-3 col-6"> -->
    <!--         [> small box <] -->
    <!--         <div class="small-box bg-danger"> -->
    <!--           <div class="inner"> -->
    <!--             <h3>65</h3> -->
    <!--  -->
    <!--             <p>Unique Visitors</p> -->
    <!--           </div> -->
    <!--           <div class="icon"> -->
    <!--             <i class="ion ion-pie-graph"></i> -->
    <!--           </div> -->
    <!--         </div> -->
    <!--       </div> -->
    <!--       [> ./col <] -->
    <!--     </div> -->
    <!--     [> /.row <] -->
    <!--     [> Main row <] -->
    <!--           <div class="graph"> -->
    <!--               <ul class="months"> -->
    <!--                   <li>Jan</li> -->
    <!--                   <li>Feb</li> -->
    <!--                   <li>Mar</li> -->
    <!--                   <li>Apr</li> -->
    <!--                   <li>May</li> -->
    <!--                   <li>Jun</li> -->
    <!--                   <li>Jul</li> -->
    <!--                   <li>Aug</li> -->
    <!--                   <li>Sep</li> -->
    <!--                   <li>Oct</li> -->
    <!--                   <li>Nov</li> -->
    <!--                   <li>Dec</li> -->
    <!--               </ul> -->
    <!--               <ul class="days"> -->
    <!--                   <li>Sun</li> -->
    <!--                   <li>Mon</li> -->
    <!--                   <li>Tue</li> -->
    <!--                   <li>Wed</li> -->
    <!--                   <li>Thu</li> -->
    <!--                   <li>Fri</li> -->
    <!--                   <li>Sat</li> -->
    <!--               </ul> -->
    <!--               <ul class="squares"> -->
    <!--                   </ul> -->
    <!--           </div> -->
    <!--     [> /.row (main row) <] -->
    <!--   </div>[> /.container-fluid <] -->
    <!-- </section> -->
    <!-- [> /.content <] -->
  <!-- </div> -->

  <footer class="main-footer">
    <a>Nunu's Daily Studio 2020</a>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.1
    </div>
  </footer>
</div>
<script>
const squares = document.querySelector('.squares');
for (var i = 1; i < 365; i++) {
  const level = Math.floor(Math.random() * 3);  
  squares.insertAdjacentHTML('beforeend', `<li data-level="${level}"></li>`);
}
</script>
</body>
</html>
