<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nunu's Blog"/>
    <link rel="shortcut icon" href="/assets/imgs/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/page.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Nunu's Daily Life</title>
</head>
<body>
    <div class="airforce">
        <div class="geek_header">
            <img class="avatar" src="/assets/imgs/cover.JPG">
            <p>Nunu's Daily Life</p>
        </div>
        <div class="geek_nav">
            <a href="#" aria-current="index">Index</a>
            <a href="#">Article</a>
            <a href="#">Music</a>
            <a href="#">Project</a>
            <a href="#">Link</a>
            <a href="#">Algorithm</a>
            <a href="#">About</a>
        </div>
        <div class="intro_block">
            <div class="geek_intro"> 
                <p>I'm Nunu&#x1F344;. I work for NREC&#x1F496; which is an electricity-related company as a software engineer&#x1F468;&#x1F3FB;&#x200D;&#x1F4BB;.</p>
                <p>I basically using c++ on my work time. I enjoy coding, reading&#x1F4DA; and music	&#x1F3BC;. I am also a huge fan of moba games&#x1F579;&#xFE0F;.</p> 
            </div>             
        </div>
        <div class="geek_footer">
            <p>2014-2020 Nunu's Studio. Made with &#x2764;&#xFE0F; in Pure Golang</p>
        </div>
    </div>
</body>
</html>
